@import "styles/variables";

.my-scenarios-container {
    display: flex;
    align-items: start;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    height: calc(100vh - $header-height);
    padding: 20px;
    align-content: flex-start;

    .loader {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}