.loader {
  width: 4rem;
  height: 4rem;
  display: block;
  position: relative;
  color: #008bf8;
  box-sizing: border-box;
  top: 40vh;
  animation: rotation 1s linear infinite;
}

.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #008bf8;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #008bf8;
  transform: scale(0.5) translate(-4rem, -4rem);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
  }
}
