@import "styles/colors";

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 2rem;
  height: 2rem;
  margin-top: .5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: .16rem .16rem .8rem rgba(0, 0, 0, 0.199);
  background-color: $red;
  color: white;
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* text */
.text {
  position: absolute;
  opacity: 0;
  color: white;
  font-size: .8rem;
  font-weight: 400;
  transition-duration: .3s;
}

/* hover effect on button width */
.btn:hover {
  width: 3.7rem;
  border-radius: 3.3rem;
  transition-duration: .3s;
}

.btn:hover .sign {
  width: 30%;
  opacity: 0;
  transition-duration: .3s;
}

/* hover effect button's text */
.btn:hover .text {
  opacity: 1;
  transition-duration: .3s;
}

/* button click effect*/
.btn:active {
  transform: translate(.16rem, .16rem);
}