.nav-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  color: #1d1f21;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0 1rem;
  cursor: pointer;
  border-radius: 0.25rem;
  margin: 0 0.5rem;
}