.ant-form-item-row {
  display: block;
}

.scenario-modal.ant-modal {
  width: 90rem;

  .scenario-item-description {
    font-size: 14px;
    height: 10rem;
  }

  .ant-modal-body {
    height: auto;
    display: block;
    max-height: 55rem;
    min-height: 55rem;
    overflow: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}