.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;

  .user-name {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    padding-top: 0.3rem;
  }
}