@import "styles/colors";

.card {
  cursor: pointer;
  width: 13rem;
  height: 18rem;
  border-radius: 20px;
  background: rgba(245, 245, 245, 0.01);
  position: relative;
  padding: 7rem;
  margin: 1rem 2rem;
  border: 2px solid rgb(195 198 206 / 22%);
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.card-body {
  color: rgb(134, 134, 134);

  .scenario-description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 12rem;
    word-break: break-all;
    height: 6rem;
  }

  span {
    display: block;
    font-weight: 600;
  }

  .indicator {
    &.success {
      background-color: #28A745;
    }

    &.in-progress {
      background-color: $blue;
    }

    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
  }
}

.card-title {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
  height: 1.8rem;
}

.card:hover {
  border-color: $blue;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

  .card-details {
    transition: .5s ease-out;
    filter: blur(.3rem);
  }

  .more-info-btn,
  .delete-btn,
  .edit-btn {
    transform: translate(-50%, 50%);
    opacity: 1;
  }
}

.separator {
  width: 100%;
  height: 1px;
  opacity: 0.3;
  margin: 0;
}