
.scenario {
  width: 80rem;
  display: block;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 .5rem .5rem rgb(178 170 170 / 10%);
  margin-bottom: 1.5rem;

  .scenario-name {
    margin-top: 0;
    margin-bottom: 0.83rem;
  }

  .scenario-item-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
}