.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.login-card {
    box-shadow: 0 .8rem 1.25rem -.25rem rgba(0, 0, 0, 0.1), 0 .33rem .5rem -.16rem rgba(0, 0, 0, 0.05);
    width: 32rem;
    height: fit-content;
}

.form {
  display: block;
  max-width: 28rem;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: .1rem solid #e5e7eb;
  margin: .66rem 0;
  height: 3rem;
}

.link-to-registration {
  font-size: 1rem;
}

.login-input {
  background-color: #fff;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 .1rem .16rem 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  font-size: 0.875rem;
  line-height: 0.5rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}