.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.login-card {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 32rem;
    height: 25rem;
}

.form {
  display: block;
  padding: 2rem;
  max-width: 28rem;
  border-radius: 0.5rem;
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  position: relative;
}

.input-container input, .form button {
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}

.login-input {
  background-color: #fff;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1rem;
  line-height: 1.25rem;
  width: 24rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  display: block;
  font-size: 0.875rem;
  line-height: 0.5rem;
  font-weight: 500;
  width: 100%;
  border-radius: 0.5rem;
  text-transform: uppercase;
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}