@import "styles/colors";

.scenario-item-actions {
  display: flex;
  gap: .7rem;
  margin-bottom: 0.83rem;
}

.scenario-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition-duration: .3s;

  &:hover {
    transition-duration: .3s;
    box-shadow: .16rem .16rem .8rem rgba(0, 0, 0, 0.199);
  }
}