@import "styles/colors";

.card {
  cursor: pointer;
  width: 13rem;
  height: 18rem;
  border-radius: 20px;
  background: rgba(245, 245, 245, 0.01);
  position: relative;
  padding: 7rem;
  margin: 1rem 2rem;
  border: 2px solid rgb(195 198 206 / 22%);
  transition: 0.5s ease-out;
  overflow: visible;
}

.card-details {
  color: black;
  height: 100%;
  gap: .5em;
  display: grid;
  place-content: center;
}

.more-info-btn, .delete-btn, .edit-btn {
  transform: translate(-50%, 125%);
  width: 60%;
  border-radius: .4rem;
  border: none;
  background-color: #008bf8;
  color: #fff;
  font-size: 1rem;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 5rem;
  opacity: 0;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.text-body {
  color: rgb(134, 134, 134);

  .description {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 12rem;
    word-break: break-all;
    height: 6rem;
  }

  span {
    display: block;
    font-weight: 600;
  }

  .indicator {
    &.success {
      background-color: #28A745;
    }

    &.in-progress {
      background-color: #007BFF;
    }

    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    margin: 0.5rem 0 1rem;
  }
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 13rem;
  height: 1.8rem;
}

/*Hover*/
.card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);

  .card-details {
    transition: .5s ease-out;
    filter: blur(.3rem);
  }
}

.card:hover .more-info-btn, .card:hover .delete-btn, .card:hover .edit-btn {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.separator {
  width: 100%;
  height: 1px;
  opacity: 0.3;
  margin: 0;
}

.delete-btn {
  background-color: $red;
  bottom: 9rem;
}

.edit-btn {
  background-color: $green;
  bottom: 13rem;
}